# Change the file name to .env

# change the value to your backend API URL
REACT_APP_API_URL=http://localhost:8080/api
# change the value to your ImageKit public key
REACT_APP_IMAGEKIT_PUBLIC_KEY=your_public_key_here
REACT_APP_IMAGEKIT_URL_ENDPOINT=your_url_endpoint_here
REACT_APP_IMAGEKIT_AUTH_ENDPOINT=http://localhost:8080/api/imagekit/auth